fastapi==0.111.0
uvicorn[standard]==0.30.1        # servidor ASGI
SQLAlchemy==2.0.31               # ORM principal
mysql-connector-python==8.4.0    # driver MySQL
alembic==1.13.1                  # migrações de banco
python-dotenv==1.0.1             # carregar variáveis do .env
pydantic==2.7.3                  # validação de dados
passlib[bcrypt]==1.7.4           # hash de senhas
#python-jose[cryptography]==3.3.0 # JWT (login/autorização) não usado
email-validator==2.1.0.post1     # validação de e‑mail (opcional)
httpx==0.27.0                    # útil para testes assíncronos
pytest==8.2.0                    # testes unitários
pytest-asyncio==0.23.6           # async tests com pytest
